@charset "UTF-8";

/* Versão Telas Maiores */


@font-face {
    font-family: 'marcellus';
    src: url(../fonts/Marcellus-Regular.ttf) format(opentype);
    font-weight: normal;
}

@font-face {
    font-family: 'poppins';
    src: url(../fonts/Poppins-Regular.ttf) format(opentype);
    font-weight: normal;
}

@media screen and (min-width: 769px) {
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor01: #aa612f;
    --cor02: #3b3a1e;
}
    
.cor-destaque {
    color: var(--cor02);
}

.cor-destaque-02 {
    color: var(--cor01);
 }

 body, html {
    background-color: #fff;
    overflow-x: hidden;
 }

.banner-g {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    max-width: 100vw;
}

.banner {
    display: none;
}

.apresentacao {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
    height: 100vh;  
    max-width: 1800px; 
}

.tx-apres {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
}

.tx-apres > h1{
    font-family: 'marcellus', sans-serif;
    font-size: 3em;
    text-align: center;
    color: var(--cor01);
    margin-top: 20px;
}

.tx-apres > p {
    font-family: 'poppins', sans-serif;
    font-size: 1.3em;
    font-weight: 900;
    text-align: center;
    color: var(--cor02); 
    margin: 0 20px;       
}    

.tx-apres > .botao {
    width: 300px;
    padding: 20px 0;
    background-color: var(--cor02);
    color: #fff;
    font-family: 'poppins', sans-serif;
    font-size: 1em;
    font-weight: normal;
    text-decoration: none;
    text-align: center;
    align-self: center;
    margin: 20px;
    border-radius: 60px;        
}

.img-massagem {
    border-radius: 100px;
    width: 300px;
    align-self: center;    
}

#tl-beneficios {
   text-align: center;
   background-color: var(--cor01);
   font-family: 'marcellus', sans-serif;
    font-size: 1.5em;
    padding: 14px;
    color: #fff;
}

.br-line {
    display: none;
}

.grid-beneficios {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;        
    gap: 40px 20px;
    width: 90vw;
    margin: 50px auto;
    max-width: 1800px;
}

.bene {
    display: flex;
    flex-basis: 250px;
    justify-content: center;
    align-items: center;
    background-color: var(--cor02);
    color: #fff;
    font-family: 'poppins', sans-serif;
    font-weight: 900;
    text-align: center;
    box-shadow: 2px 2px 5px #000;
    border-radius: 40px;
    padding: 20px;
    height: 150px;
}

.escolha {
    color: var(--cor01);
    font-family: 'marcellus', sans-serif;
    font-size: 1.5em;
    padding: 0 160px;
    text-align: center;
    margin: 30px 30px;        
    }

.servicos {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;        
    gap: 20px 0px;
    margin: 50px auto;
    padding: 40px;
    
    background: #000000 url('../imagens/fundo-branco-logo-terracota.jpg') center center no-repeat fixed;
}

.serv {
    background-color: var(--cor01);
    color: #fff;
    font-family: 'poppins', sans-serif;
    font-weight: 900;
    text-align: center;
    box-shadow: 2px 2px 5px #000000af;
    border-radius: 60px;
    padding: 20px;
    width: 35%;
    height: 180px;
    margin: 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 500px;
}
.serv > h2 {
    color: #ffffff;
    font-family: 'poppins', sans-serif;
    margin-bottom: 8px;
    font-size: 1.5em;
}

.serv > p {
    color: #fff;
    font-family: 'poppins', sans-serif;
}

.ca > h2  {
    font-family: 'marcellus', sans-serif;
    font-size: 2em;
    text-align: center;
    color: var(--cor02);
    margin: 20px;
}

.bt-whatsapp {
    background-color:var(--cor02);
    border-radius: 40px;
    padding: 20px;
    margin: 30px auto;
    width: 500px;
    text-align: center;
    }

.bt-whatsapp > a {
    color: #fff;
    text-decoration: none;  
    font-family: 'poppins', sans-serif;
    font-weight: 900;
}

.apres-profissional {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    
    justify-content: center;
    padding: 20px 10px;
}

.foto-kelli {
    border-radius: 80px;
    width: 400px;    
}

.titulo-kelli {
    font-family: 'marcellus', sans-serif;
    font-size: 1.3em;
    text-align: center;
    color: var(--cor01);  
}


}