@charset "UTF-8";

@font-face {
    font-family: 'marcellus';
    src: url(../fonts/Marcellus-Regular.ttf) format(opentype);
    font-weight: normal;
}

@font-face {
    font-family: 'poppins';
    src: url(../fonts/Poppins-Regular.ttf) format(opentype);
    font-weight: normal;
}

@media screen and (max-width: 768px) {
    
  .grid-beneficios {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        width: 300px;
        gap: 20px 20px;
      }
    
    .bene {
        font-size: .9em;
        text-align: center;
        color: #fff; 
        background-color: #3b3a1e;   
        border-radius: 40px;     
        height: 100%;
    }
    
    .divisa {
        margin: 20px;
        font-size: .6em;
        
    }

    .cor-destaque, .cor-h2 {
        color: var(--cor02);
    }
    
    .servicos {
        text-align: center;
        background-image: url(../imagens/fundo-branco-logo-terracota-peq.jpg);
        background-size: 100%;
      }
    
    
    .grid-servicos {
        display: flex ;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center; 
        gap: 20px 20px;   
        margin-top: -5px;
      }
    
      .serv {
        background-color: var(--cor01);
        box-shadow: 2px 2px 3px #29170b;
        padding: 20px;
        border-radius: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
      }
    
      .serv > h2 {
        font-family: 'Poppins', sans-serif;
        font-size: 1.6em;
        color: #3b3a1e;
        
      }
      .serv > p {
        font-size: 1.5em;
        color: #fff;
      }
    
    .divisa-02 {
        padding: 30px;
        color: var(--cor02);
        text-align: center;
        font-size: 2em;
        font-family: 'marcellus', sans-serif;
    }
    
    .cor-destaque-02{
        color: var(--cor01);
    }

    .botao {
        background-color: var(--cor02);
        color: #fff;
        padding: 10px 20px;
        border-radius: 30px;
        font-size: 1em;
        text-align: center;
        display: block;
        margin-left: 20px;
        margin-right: 20px;        
    }

    .profissional {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        gap: 20px 20px;
        padding: 20px; 
        text-align: left;
    } 

    .img-kelli {
        border-radius: 40px;
        max-width: 300px;        
    }


    .titulo-kelli {
        color: var(--cor01);
        font-size: 1.5em;
    }

    .missao {
        font-size: 1.5em;
        color: var(--cor01);
        text-align: left;
    }

    .tx-kelli, .tx-missao {
        font-size: 1em;
        color: var(--cor02);
        align-self: flex-start;
        text-align: left;
        text-indent: 1em
    }

    .agenda {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px 20px;
        padding: 0 20px 20px 20px;
    }

    #ca{
        font-size: 2em;
        font-family: 'poppins', sans-serif;
        font-weight: 900;
        text-align: center;
        color: var(--cor02);
    }
    
    a.agendamento {
        background-color: var(--cor01);
        font-size: 1.3em;
        font-weight: 900;
        color: #fff;
        padding: 10px 40px;
        border-radius: 60px;
        box-shadow: 1px 1px 2px #29170b;
        }

    .seu-momento {
        color: var(--cor02);
        font-family: 'marcellus', sans-serif;
        font-size: 1.5em;
        text-align: center;
        padding: 0 20px 20px 20px;
    }

    .localizacao {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: self-start;
        gap: 20px 20px;
        padding: 0 20px 20px 20px; 
        font-size: 0.8em;
    }

    #wpp, #ins {
        color:var(--cor02);
        font-size: 1.0em;
    }

    footer > p {
        text-align: center;
        font-size: 0.8em;
        color: #fff;
        background-color: var(--cor01);
        padding: 3px;        
    }
}
